ul {
    margin-left: 0;
    padding-left: 0;
}

.headerWrapper {
    border: 1px solid tan;
    padding: 10px 15px;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu .menuTitle {
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.menuTitle {
    position: absolute;
    top: 15px;
}

.menuImage {
    display: block;
    width: 100px;
    height: 100px;
    border: 2px dashed tan;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    text-decoration: none;
}

.menuImage.isSelected {
    border: 2px solid black;
}

.hide {
    display: none;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    padding: 5px 10px;
}

.contentWrapper:empty {
    display: none;
}

.weightInfo {
    float: right;
}

.categoryMenu li {
    border: 1px solid tan;
    max-width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    list-style-type: none;
}

.submenuWrapper {
    min-width: 120px;
}