p, 
span, 
h1, h2, h3, h4, h5, h6,
li, td, th, tr,
a {
    font-family: sans-serif;
    /* color: white; */
}

ul {
    margin-left: 0;
    padding-left: 0;
}

.headerWrapper {
    border: 1px solid tan;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li a {
    text-transform: uppercase;
}

.menuImage {
    display: block;
    width: 100px;
    height: 100px;
    border: 2px dashed tan;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    text-decoration: none;
}

.menuImage.isSelected {
    border: 2px solid black;
}

.hide {
    display: none;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
}

.contentWrapper:empty {
    display: none;
}

.weightInfo {
    float: right;
}

.categoryMenu  {
    margin-top: 0;
}

.categoryMenu li {
    border: 1px solid coral;
    margin-bottom: 5px;
    height: 115px;
    text-align: center;
    line-height: 115px;
    cursor: pointer;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 14px;
    /* background-color: royalblue; */
}

.categoryMenu li:hover {
    background-color: steelblue;

}

.submenuWrapper {
    min-width: 120px;
}

.itemWrapper {
    padding: 10px 15px;
    width: 100%;
}

.table tr {
    height: 30px;
    border-top: 2px solid black;
}

tr:active {
    background-color: red;
}

.info {
    border: 2px solid tan;
    height: 20px;
}
